
img {
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  margin: 50 50;
}

.profile {
  text-align: center;
  display: flex;
  font-family: 'Arial', sans-serif;
  color: #000000;
  margin-top: 20px;
}

.profile_text { 
  align-items: flex-start;
  margin-left: 0px;
  margin-top: 150px;
  text-align: left;
}

body{
    background-color:rgb(129, 21, 21);     
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.navbar {
  background-color: #550707;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: bold;
  position: sticky;
  top: 20px;
  z-index: 1000;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  /*max-width: 1300px;*/
  z-index: 1;
  margin: 0 auto;
  padding: 0 50px
}

#navbar_logo {
  color: #550707;
  background-color: #d6d6d6;
  justify-self: flex-start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: 20px;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item {
  height: 80px;
}

.navbar_links {
  color: #d6d6d6;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}
